mat-card {
  width: 80%;
  display: grid;
  justify-content: center;
  margin: 15px auto 0;
  padding: 25px 0;
}

.mat-mdc-button-base {
  margin: 8px 8px 0px 0;
}

.funcionario-box{
  width: 100%;
  gap: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: left;
  margin-bottom: 2rem;
}
